@font-face{
    src: url("/fonts/modern_led_board-7.ttf");
    font-family: "ScoreLed";
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 34px #ba181b;
}




.container {
    display: flex;

    justify-content: space-around;
    border: 1px solid black;
    width: 500px;
    margin: 50px auto;
    background: #0b090a;
    padding: 20px 10px;
    border-radius: 10px;
}

.score{
     text-align: center;
    width: 150px;
}

h2{
    
    color: #ba181b;
    font-weight: 800;
    font-size: 50px;
    font-family: "ScoreLed";
    font-style:italic;
    
}

.buttons{
    
    background:none;
    border: 2px solid #d3d3d3;
    color: #f5f3f4;
    border-radius: 5px;
    margin: 0px 5px;
}

.buttons:hover{
    cursor: pointer;
    background: #ba181b;
}

#reset{
    border: 2PX solid #d3d3d3;
    width: 100px;
    max-height: 30px;
    margin-top: 150px;
    border-radius: 5px;
    background: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bolder;

}

#reset:hover{

    background: #d3d3d3;
    color: #ba181b;
    cursor: pointer;
}